{% extends "base.html" %}

{% block content %}
<p><a href="/">Go back to all plants</a></p>

<h1>{{ plant.plant_name }}</h1>

<p>Energy source: <a href="/sources/{{ plant.primary_source }}">{{ plant.primary_source }}</a></p>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

<div id="map"></div>

<style>
#map { height: 400px; }
</style>

<script>
var map = L.map('map').setView([{{ plant.latitude }}, {{ plant.longitude }}], 11);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([{{ plant.latitude }}, {{ plant.longitude }}]).addTo(map)
    .bindPopup('{{ plant.plant_name }}')
    .openPopup();
</script>
{% endblock %}